<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'navbar.html' %}
        
        <title>Tasks</title>
        
        <style>
            .enter-username {
                position: absolute;
                left: 0;
                top: 200px;
            }
            .box {
                position: absolute;
                left: 95px;
                top: 200px;
            }
            .button {
                position: absolute;
                left: 270px;
                top: 200px;
            }
        </style>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <label for="username" class="enter-username">Username:</label>
            <input type="text" id="username" name="username" class="box">
            <input type="submit" value="Search" class="button">
          </form>
    </body>
</html>
